body{
    background-image:url('http://1.bp.blogspot.com/__fS723e73VA/TTwUv6ti8NI/AAAAAAAAAHM/lEgtVUVaGm0/s1600/mexico-escapada-paisaje-lagos-lagunas-destinos-rios-sol-horizonte.jpg');
}
#botones.grid-container{
    display: grid;
    justify-content: end;
    
}
.btn{
    border-left-color: solid rgba(0,0,0,0.5) 1px solid;
    border-left-color: transparent;
    border-radius: 0.3em;
    box-shadow: none;
    padding: 1em;
    opacity: 0.8;
    text-transform: capitalize;
    
    
    

}
.btn.blue{
    background-color: #0d47a1;
    color: white;
    justify-content: end;
}
.btn.black{
    background-color: black;
    color: white;
}
.btn.purple{
    background-color: blueviolet;
    color: white;
    
}


#example2>img{
    width: 10em;
    margin: 0.5em;
    border-radius: 100%;
}

#example2{
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
    border: 2px transparent;
}
#titulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px;
    
}